div {
  width : 200px;
  height : 200px;
  background-color: #dabcd5; 
  text-align:center;
  line-height:200px;

}

.parent {
  background-color: red;
}

.absolute {
  position:absolute;
  top:50px;
  left:50px;
}

.relative {
  position:relative;}

.relative_move {
  position:relative;
  top:30px;
  left:100px;
}

.fixed {
  position: fixed;
  width:100%;
  bottom: 0;
}

body {
  height : 5000px
}

.zindex--1 {
  z-index: -1;
}
.zindex-10 {
  z-index: 10;
}

.zindex-100 {
  z-index:100;
}

.zindex-200 {
  z-index: 200;
}